<!DOCTYPE html>
<html>
<head>
    <title>Delete Item</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='stylez.css') }}">
</head>
<body>
    <div class="container">
        <div class="row" role="banner">
            <header class = "bannerBG col-sm-12">
                <header class = "bannerBG col-sm-12">
                <div class="row">
                    <h1 class="header-text col-sm-11 col-xs-3">Catalog App</h1>
                    {% if 'username' not in session %}
                    <a class ="btn btn-primary col-sm-1 col-xs-1" href="{{url_for('showLogin')}}" >Login</a>
                    {% else %}
                    <a class ="btn btn-primary col-sm-1 col-xs-1" href="{{url_for('gdisconnect')}}" >Logoff</a>
                    {% endif %}
                </div>
             </header>

        <!--Delete Item-->
        <form class="mainBG col-sm-12" action="{{url_for('deleteItem', title = title , category = category)}}" method = "post">
            <h1>Delete Item - {{title}}</h1>
            <h2>Are you sure you want to delete?</h2>
            <input type="submit" class="btn btn-primary"  value="Delete">
            <a class="btn btn-warning" role="button" href="{{url_for('itemDetails', title = title, category = category)}}">Cancel</a>
        </form>
        </div>
    </div>
</body>
</html>